[Unit]
Description=FastAPI Gunicorn App
After=network.target

[Service]
User={{ fastapi_app_user }}
Group={{ fastapi_app_group }}
WorkingDirectory={{ fastapi_app_dest }}
ExecStart={{ fastapi_app_venv }}/bin/gunicorn -k uvicorn.workers.UvicornWorker -c gunicorn_config.py

Restart=always

[Install]
WantedBy=multi-user.target
